<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Website</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>{{ message }}, Welcome to WEB DEMO</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
        </ul>
    </nav>
    <main>
        <section id="home">
            <h2>Home</h2>
            <p>This is Message from DB : {{ message }}</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Simple Website</p>
    </footer>
</body>
</html>
